body {
    background: hsl(0, 0%, 100%);
    font-family: Helvetica, Arial, FreeSans, sans-serif;
    margin: 0;
    padding: 0;
}

a:link,
a:active,
a:visited {
    color: hsl(202, 61%, 54%);
    text-decoration: none;
}

a:hover {
    color: hsl(202, 53%, 34%);
}

.search-result-container {
    background: hsl(214, 21%, 94%);
    margin: 50px auto;
    padding: 20px;
}

.filter-options {
    height: auto;
    text-align: right;
    clear: both;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.filter-options__item {
    width: 50%;
}

.filter-options__item-label {
    color: hsl(217, 13%, 58%);
    font-weight: 600;
    padding: 15px 10px 5px 0;
    text-align: left;
    display: block;
    width: 100%;
}

.filter-options__item-select {
    display: block;
    width: 100%;
}

.filter-options__item .nice-select, .filter-options__item .nice-select .list {
    width: 100%;
}

.filter-options__sort {
    padding-right: 5px;
}

.filter-options__filter {
    padding-left: 5px;
}

.no-result-info {
    display: block;
    margin: 20px 0;
    padding: 20px;
    position: relative;
    background: hsl(0, 0%, 100%);
}

.smile-ico {
    padding-right: 50px;
    background: url(../images/smile.svg) no-repeat;
    filter: invert(23%) sepia(25%) saturate(843%) hue-rotate(175deg) brightness(93%) contrast(89%);
}

.tour {
    background: hsl(0, 0%, 100%);
    display: block;
    margin: 20px 0;
    padding-bottom: 20px;
    position: relative;
}

.tour-image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.tour-description {
    padding: 20px 20px 10px 20px;
}

.tour-name {
    color: hsl(210, 29%, 24%);
    margin: 0;
    padding: 0;
}

.tour-price-and-availability {
    padding: 0 20px;
}

.tour-price-and-availability hr {
    border: 0;
    border-top: 1px solid hsl(216, 20%, 90%);
}

.tour-duration-and-price {
    display: flex;
    text-align: left;
    padding-left: 5px;
}

.tour-rate-reviews-counter {
    color: hsl(210, 11%, 55%);
    display: inline-block;
    padding: 4px 10px;
}

.tour-rate-stars {
    list-style: none;
    padding: 0;
}

.tour-rate-star {
    display: inline;
    filter: invert(86%) sepia(32%) saturate(7276%) hue-rotate(4deg) brightness(108%) contrast(106%);
    float: left;
    height: 20px;
    width: 20px;
}

.tour-rate-star--empty {
    background-image: url(../images/star.svg);
}

.tour-rate-star--full {
    background-image: url(../images/star-full.svg);
}

.tour-rate-star--half {
    background-image: url(../images/star-half.svg);
}

.user-comment {
    color: hsl(217, 16%, 47%);
    display: none;
    font-style: italic;
    padding: 10px 0;
}

.tour-description-details {
    border-top: 1px solid hsl(216, 20%, 90%);
    margin-top: 15px;
    padding: 10px 0;
}

.tour-description-details a:link,
.tour-description-details a:active,
.tour-description-details a:visited {
    margin-left: 10px;
    display: none;
}

.tour-description-details dl {
    display: block;
    height: auto;
    overflow: hidden;
    margin: 0.4rem;
}

.tour-description-details dl > * {
    display: inline-block;
    float: left;
    text-align: left;
}

.tour-description-details dt {
    color: hsl(210, 11%, 55%);
    font-size: 0.875rem;
    text-transform: uppercase;
    width: 50%;
}

.tour-description-details dd {
    font-size: 0.875rem;
    margin-left: 0;
    width: auto;
}

.tour-duration, .tour-price {
    width: 50%;
}

.tour-duration-days {
    color: hsl(210, 29%, 24%);
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 0;
}

.tour-duration-label {
    color: hsl(210, 11%, 55%);
    font-size: 0.96rem;
}

.tour-price-details {
    display: flex;
}

.tour-price-discount {
    border-top: 50px solid hsl(6, 78%, 57%);
    border-left: 50px solid transparent;
    height: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
}

.tour-price-discount-value {
    display: inline-block;
    color: hsl(0, 0%, 100%);
    font-size: 0.85rem;
    left: 0;
    margin: -40px 0 0 -35px;
    position: absolute;
    top: 0;
    transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
}

.tour-price-from {
    color: hsl(169, 53%, 51%);
    font-weight: 600;
    font-size: 1.8rem;
    margin-left: 0;
}

.tour-preview-button {
    border: none;
    border-radius: 5px;
    color: hsl(0, 0%, 100%);
    display: block;
    font-weight: 600;
    font-size: 1.1rem;
    margin: 20px auto;
    position: relative;
    padding: 15px 40px;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    vertical-align: middle;
}

.tour-preview-button-arrow {
    background: url(../images/arrow.svg) no-repeat;
    margin: 2px 15px;
    position: absolute;
    right: 0;
    width: 15px;
    height: 15px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(341deg) brightness(112%) contrast(101%);
}

.tour-preview-button--orange {
    background: hsl(33, 89%, 56%);
}

.tour-preview-button--orange:hover {
    background: hsl(33, 70%, 50%);
}

.tour-preview-button--orange:focus {
    background: hsl(31, 68%, 42%);
}

.no-tour-available-dates {
    text-align: center;
    margin-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}

.tour-available-dates {
    display: flex;
    margin-top: 15px;
}

.tour-available-dates dl {
    display: block;
    height: auto;
    margin: 0.4rem;
    overflow: hidden;
    width: 50%;
}

.tour-available-dates dt {
    color: hsl(210, 11%, 55%);
    font-size: 0.76rem;
}

.tour-available-dates dd {
    margin: 3px 0;
}

.low-tour-availability, .no-free-dates {
    color: hsl(6, 78%, 57%);
    font-weight: 600;
}

.no-free-dates {
    margin: 0;
}

@media (min-width: 768px) {
    .search-result-container {
        max-width: 1200px;
    }

    .filter-options {
        padding: 20px;
        justify-content: flex-end;
    }

    .filter-options__item {
        float: right;
        display: flex;
        width: 260px;
        justify-content: flex-end;
    }

    .filter-options__item-label {
        color: hsl(217, 13%, 58%);
        font-weight: 600;
        padding: 15px 10px;
        text-align: right;
        width: 110px;
    }

    .tour {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
    }

    .tour-description {
        padding: 20px;
        width: 100%;
    }

    .tour-price-and-availability {
        padding: 20px;
        width: 45%;
    }

    .tour-price-and-availability hr {
        display: inline-block;
        width: 90%;
        border: 0;
        border-top: 1px solid hsl(216, 20%, 90%);
    }

    .tour-duration-and-price {
        justify-content: center;
        padding-left: 0;
    }

    .user-comment {
        display: block;
    }

    .tour-description-details a:link,
    .tour-description-details a:active,
    .tour-description-details a:visited {
        display: inline;
    }

    .tour-description-details dt {
        font-size: 1rem;
        width: 30%;
    }

    .tour-description-details dd {
        margin-left: 0;
        width: auto;
    }

    .tour-duration, .tour-price {
        width: 50%;
    }

    .tour-preview-button {
        margin-left: 0;
        width: 90%;
    }

    .tour-available-dates {
        justify-content: center;
    }

    .tour-available-dates dl {
        width: 100%;
    }
}
