{{#each tours}}
    <div class="tour">
        <div class="tour-image">
            <img src="{{ primaryTourImageUrl images }}" alt="{{ name }} image" title="{{ name }}">
        </div>
        <div class="tour-description">
            <h2 class="tour-name">{{ name }}</h2>
            <div class="tour-rate">
                <ul class="tour-rate-stars">
                    {{#with (mark rating) }}
                        {{#if fullStar}}
                            {{#times fullStar }}
                                <li class="tour-rate-star tour-rate-star--full"></li>
                            {{/times}}
                            {{#times halfStar }}
                                <li class="tour-rate-star tour-rate-star--half"></li>
                            {{/times}}
                            {{#times emptyStar }}
                                <li class="tour-rate-star tour-rate-star--empty"></li>
                            {{/times}}
                        {{else}}
                            {{#times 5 }}
                                <li class="tour-rate-star tour-rate-star--empty"></li>
                            {{/times}}
                        {{/if}}
                    {{/with}}
                </ul>

                <span class="tour-rate-reviews-counter">
                    {{#if reviews }}
                        {{ reviews }} reviews
                    {{else}}
                        no reviews yet - <a href="#" title="be the first one">be the first one</a>
                    {{/if}}
                </span>
            </div>

            {{#if reviews }}
                <div class="user-comment">
                    <q>My husband and I went on this trip and we must admin, this the one of the best vacation</q>
                </div>
            {{/if}}
            <div class="tour-description-details">
                <dl>
                    <dt>Destinations</dt>
                    <dd>
                        {{#with (citiesNames cities) }}
                            {{#if (isdefined first)}}{{first }}{{/if}}{{#if (isdefined second)}}, {{ second }}{{/if}}
                            {{#if (isdefined more)}} <a href="#" title="+{{ more }} more">+{{ more }} more</a> {{/if}}
                        {{/with}}
                    </dd>
                </dl>
                <dl>
                    <dt>Starts / Ends in</dt>
                    <dd>
                        {{#with (firstAndLastElementOfList cities)}}
                            {{ first }} / {{ last }}
                        {{/with}}
                    </dd>
                </dl>
                <dl>
                    <dt>Operator</dt>
                    <dd>{{ operator_name }}</dd>
                </dl>
            </div>
        </div>

        <div class="tour-price-and-availability">
            {{#with (priceAndDiscount dates)}}
                {{#if (isdefined discount)}}
                    <div class="tour-price-discount">
                        <span class="tour-price-discount-value">-{{ discount }}</span>
                    </div>
                {{/if}}
            {{/with}}

            <div class="tour-duration-and-price">
                <dl class="tour-duration">
                    <dt class="tour-duration-label">Duration</dt>
                    <dd class="tour-duration-days" data-duration="{{length}}">
                        {{ duration length length_type }}
                    </dd>
                </dl>
                <dl class="tour-price">
                    <dt class="tour-price-label">From</dt>
                    <dd class="tour-price-from">
                        {{#with (priceAndDiscount dates)}}
                            {{#if (isdefined lowestPrice)}}
                                <span data-price="{{ lowestPrice }}">€{{ lowestPrice }}</span>
                            {{else}}
                                <span data-price="0">--</span>
                            {{/if}}
                        {{/with}}
                    </dd>
                </dl>
            </div>
            <hr>
            <div class="tour-available-dates">
                {{#each (availability dates)}}
                    {{#with this}}
                        <dl>
                            <dt>{{ this.date }}</dt>
                            <dd {{#if this.lowLimit}}class="low-tour-availability"{{/if}}>
                                {{ this.availability }} space left
                            </dd>
                        </dl>
                    {{/with}}
                {{else}}
                    <div class="no-tour-available-dates">
                        <p class="no-free-dates">No free dates</p>
                        <a href="#" title="inform me when available">inform me when available</a>
                    </div>
                {{/each}}
            </div>
            <button class="tour-preview-button tour-preview-button--orange">
                View tour
                <i class="tour-preview-button-arrow"></i>
            </button>
        </div>
    </div>
{{/each}}

